@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
    }
	
* {
    font-family: 'main';
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgba(130, 210, 60, 0.8);
}
textarea {
    width: 95vw;
    height: 70vh;
    font-size: 2rem;
    text-align: left;
    word-wrap: break-word;
    resize: none;
    display: block;
    background-color: black;
    color: white;
}
input {
    width: 30rem;
    height: 3rem;
    font-weight: 900;
    font-size: 2rem;
    position: fixed;
    left: 2rem;
    bottom: 4rem;
    background-color: blue;
    color: yellow;
}
select, button {
    position: fixed;
    bottom: 3.9rem;
    font-size: 3rem;
}
select {
    left: 33rem;
}
select option {
    font-size: 2rem;
}
button {
    width: 24rem;
    right: 15rem;
    height: 6rem;
    background-color: black;
    color: red;
    padding: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Save {
    right: 2rem;
    width: 10rem;
}
button:hover {
    cursor: pointer;
}
button:active {
    cursor: progress;
    background-color: purple;
    color: yellow;
    border: 0.5rem dashed green;
    transform: scale(1.4);
}