@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
    }
	
* {
    font-family: 'main';
}
h2 input {
    height: 15px;
    width: 15px;
    margin-right: 12px;
    margin-left: 9px;
}

h2 {
    margin-top: 2rem;
    font-weight: 500;
}

p {
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

h1 {
    font-weight: 900;
    text-decoration: underline;
}

button {
    font-size: 2rem;
    margin: 1rem;
}

a {
    text-decoration: none;
    visibility: hidden;
}

button:hover {
    cursor: pointer;
}