@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
}
	
* { font-family: 'main'; }

body { width: 97vw; height: 97vh; }

input, button {
    width: 25vw;
    height: 8vh;
    background-color: white;
    border: black solid 0.75rem;
    color: black;
    font-weight: 800;
    font-size: 1.2rem;
    right: 2rem;
    position: fixed;
}

h1 {
    background-color: white;
    color: black;
    right: 5rem;
    top: 0;
    font-size: 45px;
    position: fixed;
}

#user_profile {
    top: 6.5rem;
}

#user_password {
    bottom: 20rem;
}

#Submit { bottom: 2rem; height: 5rem; width: 24rem; }

button:hover {
    cursor: pointer;
}

#Password_Strength {
    bottom: 15rem;
    height: 4rem;
    right: 2.5rem;
    background-color: red;
}

label { text-decoration: underline; font-size: 2rem; font-weight: 100; position: fixed; }

label#version { bottom: 1.5rem; text-decoration: none; color: black; font-family: Consolas,monaco,monospace;}