body {
    background-color: black;
}
.all {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 99.2vw;
}
.Device {
    height: 30vh;
    width: 30vw;
    background-repeat: no-repeat;
    background-size: contain;
}
#Desktop {
    background-image: url(../OS_Package/OS_Selector/Desktop.jpg);
}
#Laptop {
    background-image: url(../OS_Package/OS_Selector/Laptop.jpg);
}
#Notepad {
    background-image: url(../OS_Package/OS_Selector/Notepad.jpg);
}
#Foldable {
    background-image: url(../OS_Package/OS_Selector/Foldable.jpg);
    position: relative;
    left: -3rem;
}
#Tablet {
    background-image: url(../OS_Package/OS_Selector/Tablet.jpg);
    position: relative;
    left: -6rem;
}
#Phone {
    background-image: url(../OS_Package/OS_Selector/Phone.jpg);
    position: relative;
    left: -8rem;
    width: 10rem;
}