* {
    font-family: 'main';
}
div {
    width: 90vw;
    height: 10rem;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}
body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95.7vh;
    width: 98vw;
}
