body {
    background-color: black;
}
.all {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 50vw;
}
.Device {
    height: 30vh;
    width: 20vw;
    background-repeat: no-repeat;
    background-size: contain;
}
#Desktop {
    background-image: url(../OS_Package/OS_Selector/Desktop.jpg);
}
#Laptop {
    background-image: url(../OS_Package/OS_Selector/Laptop.jpgg);
}
#Notepad {
    background-image: url(../OS_Package/OS_Selector/Notepad.jpg);
    justify-self: normal;
    width: 10vw;
}
#Foldable {
    background-image: url(../OS_Package/OS_Selector/Foldable.jpg);
}
#Tablet {
    background-image: url(../OS_Package/OS_Selector/Tablet.jpg);
}
#Phone {
    background-image: url(../OS_Package/OS_Selector/Phone.jpg);
    justify-self: normal;
    width: 10vw;
}