@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
    }
	
* { margin: 0; padding: 0; font-family: 'main'; }

body { background-color: black; width: 100vw; height: 100vh; overflow: hidden; }

.all { display: flex; align-items: center; flex-wrap: wrap; flex-direction: row; z-index: 0;
    height: 100vh; width: 100vw; justify-content: space-evenly; }

.Device { height: 40vh; width: 20vw; background-repeat: no-repeat; background-size: 100% 100%;
    flex-basis: 28%; z-index: 1; }

.Device:hover { cursor: pointer; }

#Desktop { background-image: url(../OS_Package/OS_Selector/Desktop.jpg); }

#Laptop { background-image: url(../OS_Package/OS_Selector/Laptop.jpg); }

#Notepad { background-image: url(../OS_Package/OS_Selector/Notepad.jpg); }

#Foldable { background-image: url(../OS_Package/OS_Selector/Foldable.jpg); }

#Tablet { background-image: url(../OS_Package/OS_Selector/Tablet.jpg); }

#Phone { background-image: url(../OS_Package/OS_Selector/Phone.jpg); }