@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
    }
	
* {
    font-family: 'main';
}
div {
    width: 90vw;
    height: 10rem;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}
body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95.7vh;
    width: 98vw;
}
