body {
    height: 95vh;
    width: 98vw;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
i {
    font-size: 9rem;
    color: white;
    margin: 1.2rem;
    padding: 0.4rem;
    align-items: center;
}
i:hover {
    cursor: pointer;
}