@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
}
	
* { font-family: 'main'; }

body {
    background-color: #f5f5f5;
    margin: 0;
    background-image: url('https://vmediadatav2.s3.ap-south-1.amazonaws.com/GALLERY/896998876/c519ce6928def.png?id=1703606182682');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail {
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
}

.authentication {
    margin-top: 20px;
}

button {
    background-color: #003368;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #163b63;
}

span {
    color: red;
}
