.extra-space {
    width: 90vw;
    height: 10rem;
    color: white;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 900;
}
a {
    text-decoration: none;
    color: black;
}
@media (min-width: 1279px) {
    /* Device Passed to open Website */
    * {
        font-weight: 900;
        margin: 0;
        margin-bottom: 5rem;
        margin-top: 2rem;
        padding: 0;
        text-decoration: none;
        text-align: left;
    }
    body {
        background-color: white;
    }
    h1 {
        font-size: 5rem;
        position: relative;
        left: 2.5rem;
        text-decoration: underline;
        width: 90vw;
    }
    h2 {
        font-size: 3rem;
    }
    hr {
        margin-bottom: 0;
        height: 1rem;
        color: black;
        background-color: black;
    }
    .Options-Line {
        height: 0.5rem;
    }
    .Options {
        position: relative;
        left: 6rem;
    }
    .extra-space {
        visibility: visible;
    }
    div {
        display: flex;
        justify-content: left;
        height: 4rem;
    }
    i {
        font-size: 4rem;
        margin-left: 3rem;
    }
    #Login_User_Icon {
        margin-left: 2.3rem;
        color: black;
        display: inline-block;
        background-image: url(../Icons/Login_User.ico);
        background-size: contain;
        background-repeat: no-repeat;
        height: 6rem;
        width: 6rem;
    }
    #Login-Div {
        left: 6rem;
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        bottom: -2rem;
    }
    .different {
        height: 5rem;
    }
}
@media (min-width: 0px) and (max-width: 1279px) {
    /* False Device Entry */
    * {
        background-color: black;
    }
    .extra-space {
        margin-top: 25vh;
        background-color: black;
        visibility: visible;
    }
}
