@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
}

* { font-family: 'main'; }

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.app-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 1rem;
}

.app-details {
    display: flex;
    align-items: center;
}

img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
    border: black 5px solid;
    border-radius: 1rem;
}

.info {
    max-width: 400px;
}

.install-button {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
