@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
    }
	
* {
    font-family: 'main';
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.os_loader {
    background-color: white;
    border: 1.5rem solid gray;
    border-radius: 50%;
    border-top-color: black;
    border-bottom-color: black;
    width: 120px;
    height: 120px;
    animation: Load_OS 2s ease 0.4s infinite normal none;
}
@keyframes Load_OS {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}