@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
    }
	
* { color: white; font-family: 'main'; }

#back_cover { background-color: black; height: 60vh; width: 60vw; display: flex; justify-content: center;
    flex-wrap: wrap; align-items: center; }

#heading { font-size: 2.2rem;font-weight: 900; text-align: center; position: relative; top: 1rem; }

input { border-radius: 25px; font-weight: 700; border: 0.3rem white solid; height: 3rem; width: 35rem;
    font-size: 2rem; color: black; position: relative; bottom: -1.8rem; text-align: center; }

i { font-size: 5rem; }

p { text-align: center; font-size: 2rem; font-weight: 700; display: block; flex-basis: 100%; }

span { text-align: center; font-size: 2rem; font-weight: 700; display: block; flex-basis: 100%; bottom: 2rem;
    position: relative; }

body { background-image: url(../Images/Mother_Board.jpg); background-size: cover; height: 97vh; width: 98vw;
    display: flex; align-items: center; justify-content: center; }

.fa-eye:hover, .fa-eye-slash:hover, button:hover, input:hover { cursor: pointer; }

button { position: absolute; color: black; background-color: white; font-size: 2rem; font-weight: 800;
    bottom: 0.5rem; right: 1rem; border: 0.4rem black dashed; padding: 0.7rem; }

#Skip { left: 0.5rem; bottom: 0.5rem; padding: 0; width: 10rem; height: fit-content; border-style: solid;
    font-size: 2rem; }

#Payment { padding: 0; width: 9rem; height: fit-content; border-style: dashed; font-size: 2rem; }

.fa-forward, .fa-money-bill { position: static; color: black; font-size: 2rem; }

.fa-eye, .fa-eye-slash { margin-left: 0.5rem; position: relative; font-size: 2.5rem; bottom: -1.8rem; }

input:active { cursor: text; }