* {
    color: white;
}
#back_cover {
    position: relative;
    background-color: black;
    height: 50vh;
    width: 70vw;
    z-index: -1;
    left: 10rem;
    top: 10rem;
}
#text_box {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    position: relative;
    top: 1rem;
}
input {
    position: relative;
    left: 9rem;
    top: 5rem;
    font-weight: 900;
    border: 0.3rem white solid;
    height: 4rem;
    width: 40rem;
    font-size: 2rem;
    color: black;
}
i {
    position: absolute;
    top: 7.5rem;
    font-size: 5rem;
    right: 3.5rem;
    z-index: 2;
}
p, span {
    position: relative;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    bottom: -5rem;
}
body {
    background-image: url(../Images/Mother_Board.jpg);
    background-size: cover;
}
span {
    left: 14rem;
    bottom: -2rem;
}
p:hover, button:hover {
    cursor: pointer;
}
button {
    position: fixed;
    color: black;
    background-color: white;
    font-size: 2rem;
    font-weight: 800;
    bottom: 0.5rem;
    right: 1rem;
    border: 0.4rem black dashed;
    padding: 0.7rem;
}
.Skip {
    left: 0.5rem;
    bottom: 0.5rem;
    padding: 0;
    width: 10rem;
    border-style: solid;
    font-size: 2rem;
}
.fa-forward {
    position: static;
    color: black;
    font-size: 2rem;
}