@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
}
	
* { font-family: 'main'; }

body { width: 98vw; height: 90vh; display: flex; justify-content: center; align-items: end; }

label { font-weight: 100; font-size: 2rem; position: fixed; bottom: 1rem; right: 2rem; font-family: Consolas,monaco,monospace;}