@font-face {

    font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
}
	
* { font-family: 'main'; }

/* General styles */

html { width: 100%; height: 100%; }

body { margin: 0;padding: 0; width: 100%; height: 100%; }

a { text-decoration: none; color: inherit; }

img { width: 100%; height: 70%; border: black solid 0.2rem; border-radius: 4rem; }

.fa-google-play { font-size: 2rem; letter-spacing: 2px; }

/* Header styles */

.header { background-color: black; padding: 20px; display: flex; align-items: center; color: white;
    justify-content: space-between; }

.header-logo { flex: 1; }

.header-installedapps button { padding: 10px 20px; background-color: gray; color: white; border: none;
    cursor: pointer; border-radius: 1rem; margin-right: 6px;}

/* Featured Apps section styles */

.apps { display: block; padding: 20px; margin-left: 20px; }

.apps h2 { font-size: 24px; margin-bottom: 20px; }

.apps-container { display: flex; flex-wrap: wrap; justify-content: flex-start; }

.app { width: 250px; margin-bottom: 20px; flex-basis: 25%; }

.app img { border-radius: 5px; }

.app-details { padding: 10px; background-color: #fff; border-radius: 5px; }

.app-details h3 { font-size: 18px; margin-bottom: 10px; }

.app-details p { font-size: 14px; margin-bottom: 10px; }

.app-details button { padding: 10px 20px; background-color: gray; color: white; border: none;
    cursor: pointer; border-radius: 1rem; }

/* Footer styles */

.footer { background-color: black; padding: 10px; text-align: center; color: white; position: fixed;
    bottom: 0; width: 100%; }

.footer p { margin-top: 0; margin-bottom: 0; }