@font-face { font-family: 'main';
    
    src: url('Product_Sans_Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('Product_Sans_Regular.ttf') format('woff2'),             /* Super Modern Browsers */
         url('Product_Sans_Regular.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('Product_Sans_Regular.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('Product_Sans_Regular.ttf') format('svg');               /* Legacy iOS */
    
}
	
* { font-family: 'main'; }

body { background: #1e1e1e; color: #c9d1d9; font-family: 'Fira Code', monospace; display: flex; margin: 0;
    justify-content: center; align-items: center; height: 100vh; padding: 20px 0; box-sizing: border-box; }

.code-editor { background-color: #282c34; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%; max-width: 750px; height: calc(100vh - 40px); overflow: hidden; display: flex; position: relative;
    flex-direction: column; }

.editor-header { background-color: #21252b; padding: 10px; font-size: 1.2em; text-align: center; color: #61dafb;
    border-bottom: 1px solid #444; }

pre.line-numbers { flex-grow: 1; padding: 15px; margin: 0; font-family: 'Fira Code', monospace; font-size: 1em;
    white-space: pre; overflow-x: auto; outline: none; background: #282c34; color: #abb2bf; position: relative; }

pre.line-numbers code { display: block; }

pre.line-numbers { counter-reset: line; }

pre.line-numbers code { position: relative; padding-left: 3em; }

pre.line-numbers code:before { counter-increment: line; content: counter(line); position: absolute; left: 0;
    width: 2.5em; text-align: right; padding-right: 0.5em; color: #5c6370; pointer-events: none;
    user-select: none; }

.editor-footer { display: flex; justify-content: flex-end; align-items: center; margin-top: 10px;
    padding-right: 15px; }

button { background-color: #61dafb; color: #1e1e1e; border: none; border-radius: 4px; padding: 8px 16px;
    margin-left: 10px; cursor: pointer; }

button:hover { background-color: #3f9ad9; }

.popup-container { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; display: none;
    background-color: rgba(0, 0, 0, 0.5); justify-content: center; align-items: center; }

.popup { background-color: #fff; border-radius: 8px; padding: 20px; position: relative; }

.close { position: absolute; top: 10px; right: 10px; font-size: 20px; cursor: pointer; }