body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.settings-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: whitesmoke;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4.5rem;
}

.settings-header {
    text-align: center;
    margin-bottom: 20px;
}

.settings-options {
    display: flex;
    flex-direction: column;
}

.option {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.option:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.fa-arrow-left-long {
    font-weight: 100; 
    font-size: 2rem; 
    position: fixed; 
    top: 1rem; 
    left: 1rem; 
    border-radius: 5rem; 
    border: white 0.5rem; 
    background-color: #373737; 
    color: whitesmoke; 
    padding: 1rem; 
    text-align: center;

}

.fa-grid, .fa-clock-rotate-left {
    font-size: 4rem;
    float: left;
}