select {
    border: 0.5rem black solid;
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 4rem;
    font-weight: 600;
    font-style: italic;
}
option {
    background-color: black;
    color: white;
    border: 0.2rem white solid;
    padding: 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 2rem;
}
h1 {
    font-size: 4rem;
}
input {
    font-size: 2rem;
    font-weight: 500;
    border: 1rem black solid;
    background-color: rgba(0, 0, 255, 0.4);
    color: rgba(255, 50, 40, 0.8);
}
input:hover {
    cursor: pointer;
}
#display_text {
    display: inline-block;
    position: relative;
    right: -3rem;
}